/* Basic styling for the login page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url(back3.webp);
    background-size:100%;
    opacity:0.8;
}

/* Login container */
.login-container {
    background-color:midnightblue;
    padding: 30px;
    border-radius:15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: left;
    color: aliceblue;
    border-style: dashed;
    border-color: black;
}
.login-container:hover{
    background-color: rgb(12, 12, 85);
    box-decoration-break: slice;
    box-shadow: black;
    transform:scale(1.05)
}

/* Input fields and button */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="text"]:hover, input[type="password"]:hover{
    transform: scale(1.05);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover {
    background-color:aliceblue;
    color: black;
    transform: scale(1.05);
}

h2 {
    margin-bottom: 20px;
    color: aliceblue;
}
