

.Topic{
    position: relative;
    width:100%;
    max-height:400px;
    overflow:hidden;
}
.headimg{
    width:100%;
    height: auto;
    display: block;
}
.headtext{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    text-align:center;
    font-size:36px;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#div1id{
    position:relative;
}

/*button1*/

.but1options a{
    background-color:aliceblue;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}
.but1options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}
.but1options a:hover{
    background-color: black;
    color:whitesmoke
}
.b1:hover .but1options{
    display:block;
}
.but1:hover{
    background-color:grey;
}

.but1{
    background-color: black;
}
/*-button1-*/

/*button2*/

.but2{
    background-color: black;
}
.but3{
    background-color: black;
}
.but1, .but2, .but3{
    padding:20px 30px;
    font-size:16px;
    color:white;
    border:none;
    cursor:pointer;
    text-align: center;
    display: inline-block;
    margin: 10px 5px;
}
.but{
    width: 100%; /* Full width of the container */
    padding: 0px;
    height: 0%;
    position: relative;
    display: flex;
    gap:0px
}

.but2:hover{
    background-color: grey;
}
.but3:hover{
    background-color: grey;
}