{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Auction Portal</title>
    <link rel="stylesheet" href="{% static 'css/homestyles.css' %}?v=1">
</head>
<footer id="footer">
    <div class="contact-info">
        <a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a>
        <p>Contact: 9345011575</p>
        <p>Email: artauctions.nj@gmail.com</p>
    </div>

    <p>&copy; 2024 Art Auction Portal. All rights reserved.</p>
</footer>