{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for painting in paintings %}
    <div>
        <h3>{{ painting.title }}</h3>
        <p>Status: <b>{{ painting.status }}</b></p>
        {% if painting.status == "Pending" %}
            <a href="{% url 'approve_painting' painting.id %}" class="btn btn-success">✅ Approve</a>
            <a href="{% url 'reject_painting' painting.id %}" class="btn btn-danger">❌ Reject</a>
        {% endif %}
    </div>
{% endfor %}

</body>
</html>